﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@model DSKitting.UI.Pages.Landing.LandingModel
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Home"];
}

<h2>@_localizer["Home"]</h2>

<p>
    <button class="btn btn-default">@_localizer["KnowMoreAboutSolar"]</button>
    <button class="btn btn-default">@_localizer["WhatIsYourRoofsSolarPotential"]</button>
    <button class="btn btn-default">@_localizer["GetSolarForYourRoof"]</button>
</p>